@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --grayish-color: #817f7f;
}

body {
  background: #515050;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;
}

.logo {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-menu {
  width: 200px;
  height: 51px;
  margin-left: 3em;
  border: 0.13em solid var(--grayish-color);
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 1em;
  border-radius: 10px;
}

.home-menu-icon {
  color: #bdbaba;
}

.home {
  margin-left: 0.6em;
  font-weight: bold;
  color: #bdbaba;
  font-size: 1.2em;
}

.option-icon {
  margin-left: auto;
}

.search-header {
  width: 290px;
  height: 51px;
  background: #3c3737;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 1em;
  border-radius: 10px;
  margin-left: 1.6em;
}

.magnifier {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 0.4em;
  margin-top: 0.5em;
}

.header-icons {
  margin-left: auto;
  margin-right: 14em;
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.icon-wrapper {
  width: 51px;
  height: 51px;
  background-color: #615f5f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icons .icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notification-icon {
  margin-top: 0.6em;
}

.message-icon {
  margin-top: 0.6em;
}

.btn {
  padding: 0.5em 1em;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.btn.icon-btn {
  background: none;
  padding: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bdbaba;
  position: relative;
}

.count {
  color: var(--color);
  position: absolute;
  top: -9px;
  right: 1px;
  background: #ff4500;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.icon p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
