@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");

:root {
  --color-gray: rgb(211, 224, 224);
  --color-bg: #5b5757;
  --color-light: #acb4bd;
  --color-border: #e0e3e6;
}

/* BASE STYLES */

.all-user-messages {
  background: #2d2d39;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
  padding-top: 1em;
}

a {
  text-decoration: none;
}

.all-user-messages .user-messages {
  display: flex;
  margin-left: 2em;
}

.user-messages .m-list {
  width: 400px;
  max-height: 585px;
  overflow-y: auto;
  scrollbar-width: none;
  background: #444454;
  margin-top: -1em;
}

.user-messages .m-list::-webkit-scrollbar {
  display: none;
}

.user-messages-list {
  /* background: red; */
  padding: 0;
  margin: 16px 0;
  width: 60%;
  margin-left: 0.6em;
  margin-bottom: 6em;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.user-messages-list::-webkit-scrollbar {
  display: none;
}

.user-message-wrapper {
  display: flex;
}

.user-message-content {
  background: #6a6a7b;
  max-width: 300px;
  height: auto;
  margin-bottom: 1em;
  display: flex;
  padding-right: 0.5em;
  padding-left: 1em;
  padding-top: -1em;
  padding-bottom: 0.5em;
  border-radius: 15px;
  position: relative;
}

.u-message {
  color: rgb(250, 237, 237);
  font-family: "IBM+Plex+Sans";
  font-size: 18px;
  margin-right: 0.9em;
}

.u-date-formatter {
  color: rgb(185, 172, 172);
  font-size: 14px;
  /* margin-top: 2.5em; */
  position: absolute;
  right: 0.4em;
  bottom: -1em;
}

.user-message-content:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #2d2d39;
  position: absolute;
  bottom: 68%;
  left: -0.6em;
  border-radius: 50%;
}

.user-message-input {
  position: fixed;
  bottom: 0.4em;
  border: 5px solid green;
  resize: none;
  width: 60%;
  height: 50px;
  background: #393947;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #817f7f;
  line-height: 1.4;
  margin-left: 28.5em;
  margin-bottom: 1em;
  margin-top: 0.1em;
  border: none;
  color: rgb(208, 192, 192);
  font-size: 16px;
}

.all-user-messages .send-message {
  position: fixed;
  background: none;
  margin-left: 10em;
  bottom: 2.4em;
  z-index: 9999;
}

.long-date-format {
  color: white;
  font-weight: lighter;
  font-size: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 2px 6px;
  border-radius: 9em;
  background: rgb(98, 90, 90);
  margin-left: 15em;
  margin-top: -1em;
  margin-bottom: 1.8em;
}
