@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");

:root {
  --color-gray: rgb(211, 224, 224);
  --color-bg: #5b5757;
  --color-light: #acb4bd;
  --color-border: #e0e3e6;
}

/* BASE STYLES */

.notifications {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.notes-list {
  padding: 0;
  margin: 16px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  box-shadow: 0 0 3px rgba(153, 147, 147, 0.5);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.notes-list-item {
  border-bottom: 1px solid var(--color-border);
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.notes-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.notes-list-item h3,
.notes-list-item p span {
  font-weight: 600;
}

.notes-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
}

.notes-list-item p {
  font-size: 14px;
  color: var(--color-light);
  font-size: 17px;
}

.not_read {
  background: #373434;
}

.not_read:hover {
  background: #4b4747;
}
