.single-post-wrapper {
  display: flex;
}

.left-column {
  max-width: 55%;
}

.single-post {
  margin-top: 1.5em;
}

.community-detail {
  height: 350px;
  padding: 0;
}

.c-name-and-button {
  margin-top: 0.8em;
}

.about-community {
  margin-top: 0.5em;
  margin-bottom: -5.8em;
}

.asking-membership {
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  text-align: left;
  margin-top: -0.25em;
  padding-left: 1.5em;
  padding-right: 1.4em;
}

.c-date-info {
  margin-left: 1.5em;
  display: flex;
  align-items: center;
}

.c-date-info .date {
  margin-left: 0.8em;
  color: #c0b0b0;
}

.post-deletion-edition {
  color: white;
}

.post-deletion-edition {
  background: rgb(76, 70, 70);
  position: absolute;
  left: 12em;
  padding: 4px 8px;
  top: 2.6em;
  border-radius: 6px;
}

.post-deletion-edition .editing-post:hover {
  background-color: rgb(89, 82, 82);
  cursor: pointer;
}

.post-deletion-edition .delete-post:hover {
  background-color: rgb(89, 82, 82);
  cursor: pointer;
}
